apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: kabal-smart-editor-api
  namespace: klage
  labels:
    team: klage
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "100M"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "120"
spec:
  image: {{image}}
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
  gcp:
    sqlInstances:
      - type: {{db_type}}
        maintenance:
          day: 1
          hour: 3
        tier: {{db_tier}}
        diskType: SSD
        highAvailability: {{db_ha}}
        diskSize: {{db_size}}
        diskAutoresize: true
        autoBackupHour: 2
        cascadingDelete: false
        databases:
          - name: kabal-smart-editor-api
  port: 7095
  startup:
    failureThreshold: 30
    initialDelay: 30
    path: /internal/health
    periodSeconds: 10
    timeout: 2
  liveness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
    periodSeconds: 5
    failureThreshold: 10
  readiness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
  resources:
    limits:
      memory: 2024Mi
    requests:
      cpu: 80m
      memory: 1024Mi
  ingresses:
  {{#each ingresses as |ingress|}}
    - {{ingress}}
  {{/each}}
  replicas:
    min: 2
    max: 4
    cpuThresholdPercentage: 80
  prometheus:
    enabled: true
    path: /internal/prometheus
  accessPolicy:
    inbound:
      rules:
        - application: kabal-frontend
        - application: kabal-api
  azure:
    application:
      enabled: true
      allowAllUsers: true
      tenant: {{tenant}}
      claims:
#        groups:
#          - id: {{ROLE_KLAGE_SAKSBEHANDLER}}
#          - id: {{ROLE_KLAGE_FAGANSVARLIG}}
#          - id: {{ROLE_KLAGE_LEDER}}
#          - id: {{ROLE_KLAGE_MERKANTIL}}
#          - id: {{ROLE_KLAGE_FORTROLIG}}
#          - id: {{ROLE_KLAGE_STRENGT_FORTROLIG}}
#          - id: {{ROLE_KLAGE_EGEN_ANSATT}}
#          - id: {{ROLE_GOSYS_OPPGAVE_BEHANDLER}}
#          {{#if ROLE_ADMIN}}
#             - id: {{ROLE_ADMIN}}
#          {{/if}}
        extra:
          - NAVident
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: {{springProfile}}
  {{#each envs}}
    - name: {{name}}
      value: {{value}}
  {{/each}}
